<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FOA CABS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Bootstrap CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Stylesheet -->
        <link rel="stylesheet" href="{% static 'stylesheet/style.css' %}">
            
    </head>
    <body>

        <div id="login_container" class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">

            <h2 class="mb-4">Welcome to FOA CABS-Login Page</h2>

            <form class="login_form" method="post">

                {% csrf_token %}
    
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control" name="username" id="username" value="">
                </div>
                
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                
                <button type="submit" class="btn btn-dark btn-lg">Click To Login</button>
            
                <p>{{message}}</p>
            
            </form>

        </div>
      
        
    </body>
</html>
